{% extends "flights/base.html" %}

{% block title %}
    Flights
{% endblock %}

{% block body %}

    <div class="container">

 <h1>Flights</h1>
    <table class="table table-bordered">
            <tr>
                <th>Id</th>
                <th>Origine</th>
                <th>Destination</th>
                <th>Action</th>

            </tr>
            {% for flight in flights %}
                <tr>
                    <td>Flight #{{ flight.id }}</td>
                    <td>{{ flight.origin }}}</td>
                    <td>{{ flight.destination }}}</td>
                    <td>
                        <a href="{% url 'flight' flight.id %}" class="btn btn-success">Consulter</a>
                    </td>
                </tr>

            {% endfor %}
        </table>
    </div>
{% endblock %}
